<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head') %>
<body>
        <%- include('../../layout/header') %>

    <main> 
        <h2 id="results">Search Results</h2>

        <ul class="listOfBooks">
            <% books.forEach( book => { %>
                <li class="result-book">
                    
                    <%- include('../../pages/books/detail', {book: book}) %>

                    <p><%= book.description%></p>

                    <form action="/books" method="post">
                        <button id="save" name="book" value="<%= JSON.stringify(book)%>">Select this Book</button>
                    </form>
    
                </li>
                <%})%>
        </ul>
    
    </main>
    
        <%- include('../../layout/footer') %>

    <script src="../../../public/js/app.js"></script>
</body>
</html>