<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head') %>
<body>
    
        <%- include('../layout/header') %>

    <main>
        <h1><%= books.rowCount %> Saved Books</h1>

        <ul class="listOfBooks">
            <% books.rows.forEach( book => { %>
                <li class="result-book">

        <%- include('../pages/books/detail', {book: book}) %>

        <form action="/books/<%= book.id%>">
            <button value="<%= book%>">View Details</button>
        </form>

    </li>
    <%})%>
</ul>

    </main>

        <%- include('../layout/footer') %>

    <script src="../../public/js/app.js"></script>
</body>
</html>